div {
    padding: 1rem;
    border-radius: 8px;
    background-color:#009b8b;
    width:70%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    scale: 120%;
}
div:hover {
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform:scale(1.05,1.05);
}
input {
    accent-color: #009b8b;
}   
.field {
    border-width: 1rem;
    border-radius: 8px;
    border-color: #f0ffff;
    padding: 1rem;
    font-family: Coolvetica;
    font-size: 110%;
    color: #f0ffff;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.t {
    font-family: bebas-neue;
}
@font-face {
    font-family: bebas-neue;
    src: url(resource/BebasNeue-Regular.otf);
}
@font-face {
    font-family: coolvetica;
    src: url(resource/coolvetica\ rg.otf);
}