div {
    border-radius: 8px;
    border-width: 1rem;
    background-color: #009b8b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 10rem;
    padding: 2rem;
    font-family: Coolvetica;
    font-size: 700%;
    color: #f0ffff;
}

@font-face {
    font-family: bebas-neue;
    src: url(resource/BebasNeue-Regular.otf);
}
@font-face {
    font-family: coolvetica;
    src: url(resource/coolvetica\ rg.otf);
}