html {
    scroll-behavior: smooth;
}
div {
    width: auto;
    padding-left:15px;
    padding-right:15px;
    display:flex;
    flex-direction: column;
    background-color:#ffbd97;
    color:#000;
    }
header {
    font-size: 120%;
    }
section {
    font-family: coolvetica;
    margin: 10px
}
mark {
    background-color:#ef8b64;
    color:#000;
}

.flex {
    display: flex;
    justify-content: space-around;
    }
.h {
    background-color: #f16529;
    color:#ffff ;
    border: 10px;
    border-radius:8px;
}
.p {
    margin-bottom: 10px;
    font-size: 130%;
    }
.img {
    background-color:#ef8b64;
    border-radius: 30px;
    width:160px;
    margin: 10px;
    margin-top: -100px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.img:hover{
    transform:scale(1.1,1.1);
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-family: coolvetica;
    font-size: 150%;
}
.navaimation {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.navaimation:hover{
    transform: scale(1.1,1.1);
}
a:link {
    color:#fff;
    text-decoration: none;
}
a:visited{
    color: #fff;
    text-decoration: none;
}
hr.hr {
        border: 10px solid #e44d26;
        border-radius: 5px;
        width: auto;
        margin-top: -5px;
        margin-left: 2px;
        margin-right: 2px;
      }
.tlgroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tablecontainer{
    height: auto;
    padding: 10px;
    width: auto;
    border-radius: 8px;
    border: 2px;
    background-color: #ef8b64;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: flex;
    flex-direction: row;
}
.tablecontainer::after{
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}
.tablecontainer:hover{
    transform: scale(1.1,1.1);
    background-color: #fff;
    color: #ef8b64;
}
.table {
    width: auto;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #fff;
    border-width: 5px;
    color: #fff;
    background-color: #ef8b64;
    font-family: coolvetica;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    }
.table:hover{
    background-color: #fff;
    color: #ef8b64;
    border-color: #ef8b64;
    border-width: 5px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.list  {
    height:auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 3rem;
    margin-left:3rem;
    border-radius: 8px;
    color: #fff;
    background-color: #ef8b64;
    font-size: 170%;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

.list::after{
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}
.list:hover{
    transform:scale(1.1,1.1);
    background-color: #fff;
    color: #ef8b64;
}
.minilist{
    border: 5px solid #fff;
    border-radius: 8px;
    padding: 10px;
}
.conteudo1{
    background-color: #2965f1;
    color:white;
    width: 33.33%;
    border-radius: 8px;
    padding:20px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: 140%;
}
.conteudo1::after{
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}
.conteudo1:hover{
    transform:scale(1.05,1.05);
}
.conteudo2{
    background-color: #e47454;
    color:white;
    width: 33.33%;
    border-radius: 8px;
    padding:20px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: 140%;
}
.conteudo2::after{
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}
.conteudo2:hover{
    transform:scale(1.05,1.05);
}
.conteudo3{
    background-color: #cab300;
    color:white;
    width: 33.33%;
    border-radius: 8px;
    padding:20px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: 140%;
}
.conteudo3::after{
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        z-index: -0;
 }
 .conteudo3:hover{
        transform:scale(1.05,1.05);
}
.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 130%;
    background-color: #fff;
    border-radius: 8px;
    color: #e47454;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
a.a:link{
    color: #e47454;
}
.text {
    text-align: center;
    font-size: 120%;
    font-family: coolvetica;
}
.textt {
    font-family: bebas-neue;
    font-size: 200%;
}
@font-face {
    font-family: bebas-neue;
    src: url(resource/BebasNeue-Regular.otf);
}
@font-face {
    font-family: coolvetica;
    src: url(resource/coolvetica\ rg.otf);
}
::selection {
    color: #e47454;
    background: #fff;
}